@import "@/src/app/shortClasses.scss";

header {
  width: 100%;
  background-color: var(--white);

  .container {
    @include flex(space-between, center);

    padding-top: 13px;
    padding-bottom: 13px;

    .btn-box {
      @include flex(flex-start, center);

      width: fit-content;
      gap: 10px;
    }
  }
}
