@import "@/src/app/shortClasses.scss";

.radiobutton-input {
  visibility: hidden;
  width: 0;
  position: absolute;
}

.radiobutton-label {
  @include flex(flex-start, center);
  @include f-direction(row);
  gap: 11px;

  font-size: 16px;
  line-height: 26px;
  color: var(--black);

  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
}

.custom-radiobutton {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--background-color);
  display: inline-block;
  border: 1px solid var(--light-gray);
}

.radiobutton-input:checked + .custom-radiobutton {
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
  position: relative;
}

.radiobutton-input:checked + .custom-radiobutton::after {
  position: absolute;
  content: "";

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 10px;
  height: 10px;

  background-color: var(--secondary-color);
  border-radius: 50%;
}

.radiobutton-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .custom-radiobutton {
    height: 20px;
    width: 20px;
  }
}

.radiobutton-container {
  @include flex(flex-start, flex-start);
  @include f-direction(column);
  gap: 11px;

  .radiobutton-title {
    font-size: 16px;
    line-height: 26px;
    color: var(--black);
  }

  .radiobutton-group {
    @include flex(flex-start, flex-start);
    @include f-direction(column);
    gap: 10px;
  }
}
