@import "@/src/app/shortClasses.scss";

.job-application-container {
  @include flex(flex-start, center);
  @include f-direction(column);

  width: 100%;
  gap: 50px;

  .job-application-form {
    @include flex(flex-start, center);
    @include f-direction(column);

    max-width: 380px;
    width: 100%;
    gap: 50px;

    .select-container {
      @include flex(flex-start, center);
      @include f-direction(column);

      width: 100%;
    }

    .inputs-container {
      @include flex(flex-start, center);
      @include f-direction(column);

      width: 100%;
      gap: 50px;

      margin-bottom: 43px;
      position: relative;
    }

    .job-aplication-type {
      width: 100%;

      margin-bottom: 50px;
    }
  }
}
