@import "@/src/app/shortClasses.scss";

.user-list-container {
  @include flex(flex-start, center);
  @include f-direction(column);

  gap: 50px;

  .users-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    justify-content: flex-start;
    align-items: flex-start;
    grid-gap: 29px;
    width: 100%;

    @include max-w-media(1024px) {
      grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
      grid-gap: 29px;
    }

    @include max-w-media(768px) {
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
      grid-gap: 16px;
    }
  }

  button {
    width: 120px;
  }
}
